root = true

[*]
max_line_length = 100
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# ReSharper properties
resharper_csharp_wrap_lines = false

[*.cs]
end_of_line = crlf

[*.{md,json,yml,uss}]
indent_size = 2
